.radiogroup {
	text-align: center;
	height: 2em;

	ul {
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: inline-block;
		border-radius: 0.2rem;

		input[type=radio] {
			position: absolute;
			visibility: hidden;
		}

		li {
			float: left;
			height: 100%;
			line-height: 1.75em;

			input[type=radio]:checked ~ label {
				color: #e87511;
				background-color: #fff;
			}

			&:first-of-type label {
				border-top-left-radius: 0.2rem;
				border-bottom-left-radius: 0.2rem;
				border-left: 1px #d7d8da solid;
			}

			&:last-of-type label {
				border-top-right-radius: 0.2rem;
				border-bottom-right-radius: 0.2rem;
				border-right: 1px #d7d8da solid;
			}

			label {
				display: block;
				font-weight: 300;
				font-size: .85em;
				font-weight: 600;
				margin: 0;
				padding: 0 40px;
				cursor: pointer;
				transition: all 0.1s linear;
				height: 100%;
				border-top: 1px #d7d8da solid;
				border-bottom: 1px #d7d8da solid;
				border-left: 1px #d7d8da solid;
				color: #9d9fa6;
				background-color: #f5f6f9;

				&:hover {
					color: #e87511;
					background-color: #f5f6f9;
				}
			}
		}
	}

}