@import './_variables.scss';
@import '../../../src/styles/animation/transition';

//
// Global Styling
// --------------------------------------------------
html {
	font-family: Roboto;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: #212529;
  text-align: left;
	background-color: #fff;
}

// *:focus, *:active {
// 	outline: none;
// 	-webkit-appearance: none;
// }

select {
	opacity: 100;
	background-color: transparent;
	border: none;
  height: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	padding-left: 5px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
	height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(0, 0, 0, .4);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/*
  Global classes
*/

div h1 {
  font-size: $font-size-h1;
  text-align: left;
}

.box-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
	box-shadow: 0 8px 6px -6px #999;
}

.full-box-shadow {
  -moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	box-shadow: 0 0 3px #ccc;
}

/*
  Controls
*/
/* Buttons */
.btn__container {
	width: 100%;
	display: flex;
}

// .btn {
//   display: inline-block;
//   color: #212529;
//   text-align: center;
//   vertical-align: middle;
//   cursor: pointer;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   background-color: transparent;
//   border: 1px solid transparent;
//   padding: 0.175rem 0.5rem;
//   font-size: .85rem;
//   line-height: 1.5;
//   border-radius: 0.3rem;
//   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
// 	font-weight: 600;

// 	&:focus {
// 		outline: none;
// 		box-shadow: none;
// 	}

//   &.--primary {
//     background-color: $blue;
//     color: white;
//     border-color: $blue;

//     &:hover, &:active, &.--toggle:focus {
// 			border-color: $blue-darker !important;
//       background-color: $blue-darker !important;
//       color: white;
//     }

//     &.--white-fill {
//       &:hover, &:active, &.--toggle:focus {
// 				border-color: $blue !important;
//         background-color: white !important;
//         color: $blue;
//       }
//     }
// 	}

// 	&.--secondary {
//     background-color: $gray-light !important;
//     color: white;
//     border-color: $gray-light;

//     &:hover, &:active, &.--toggle:focus {
// 			border-color: $gray;
//       background-color: $gray !important;
//       color: white;
//     }

//     &.--white-fill {
//       &:hover, &:active, &.--toggle:focus {
// 				background-color: white;
// 				border-color: $gray-light !important;
//         color: $gray-light;
//       }
//     }
// 	}

// 	&.--warning {
//     background-color: $brand-danger;
//     color: white;
// 		border-color: $brand-danger;

// 		&.--light {
// 			background-color: white !important;
// 			border-color: $brand-danger !important;
// 			color: $brand-danger;

// 			&:hover, &:active, &.--toggle:focus {
// 				border-color: $brand-danger;
// 				background-color: $brand-danger !important;
// 				color: white;
// 			}
// 		}

//     &:hover, &:active, &.--toggle:focus {
// 			border-color: darken($brand-danger, 10%);
//       background-color: darken($brand-danger, 10%) !important;
//       color: white;
//     }

//     &.--white-fill {
//       &:hover, &:active, &.--toggle:focus {
// 				background-color: white !important;
// 				border-color: $brand-danger !important;
//         color: $brand-danger;
//       }
//     }
//   }

//   &.--light {
//     background-color: white;
//     color: $blue;
//     border-color: $blue;

//     &.--gray-fill {
// 			&:hover, &:active, &.--toggle:focus {
// 				background-color: $gray-light !important;
// 				border-color: $gray-light;
//         color: white;
//       }
//     }

//     &.--blue-fill {
//       &:hover, &:active, &.--toggle:focus {
//         background-color: $blue !important;
//         border-color: $blue !important;
//         color: white !important;
//       }
//     }
//   }
// }

//
// Animations
// --------------------------------------------------

/* Keyframe animations */
@keyframes slide-in {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  0% { transform: translateX(0%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes slide-out {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}


//
// Browser Styling
// --------------------------------------------------
/* WebKit, Blink, Edge */
input.placeholder-light::-webkit-input-placeholder { color:#C0C4CC; }
/* Mozilla Firefox 4 to 18 */
input.placeholder-light:-moz-placeholder { color:#C0C4CC; }
/* Mozilla Firefox 19+ */
input.placeholder-light::-moz-placeholder { color:#C0C4CC; }
/* Internet Explorer 10-11 */
input.placeholder-light:-ms-input-placeholder { color:#C0C4CC; }
/* WebKit, Blink, Edge */
input.placeholder-dark::-webkit-input-placeholder { color:#909399; }
/* Mozilla Firefox 4 to 18 */
input.placeholder-dark:-moz-placeholder { color:#909399; }
/* Mozilla Firefox 19+ */
input.placeholder-dark::-moz-placeholder { color:#909399; }
/* Internet Explorer 10-11 */
input.placeholder-dark:-ms-input-placeholder { color:#909399; }


//
// Icon Styling
// --------------------------------------------------
.icon {
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font: normal normal 500 11px FontAwesome;
	pointer-events: none;
	display: inline;
	color: #e87511;
}

.icon.--right:before { content: '\f054'; }
.icon.--left:before { content: '\f053'; }
.icon.--down:before { content: '\f078'; }
.icon.--up:before { content: '\f077'; }
.icon.--check:after { content: '\f00c'; }
.icon.--eye:after { content: '\f06e'; }
.icon.--minus:before { content: '\f068'; }
.icon.--trash:before { content: '\f1f8'; }
.icon.--history:before { content: '\f1da'; }
.icon.--search:before { content: '\f002'; }
.icon.--nav:before { content: '\f0c9'; }
.icon.--arrow-right:before { content: '\f061'; }
.icon.--envelope:before { content: '\f0e0'; }
.icon.--lock:before { content: '\f023'; }
.icon.--organization:before { content: '\f1ad'; }
.icon.--person:before { content: '\f007'; }
.icon.--right-chevron:before { content: '\f054'; }
.icon.--down-chevron:before { content: '\f078'; }
.icon.--cog:before { content: '\f013'; }
.icon.--cogs:before { content: '\f085'; }
.icon.--times:before { content: '\f00d'; }
.icon.--times-circle:before { content: '\f057'; }
.icon.--check-circle:before { content: '\f058'; }
.icon.--expand:before { content: '\f065'; }
.icon.--chart-line:before { content: '\f201'; }
.icon.--th-list:before { content: '\f00b'; }
