@import '../../styles/_variables.scss';
@import '../../styles/global.scss';
@include screen-transition-animation;

.search-form {
	padding-top: $search-form--padding;
	padding-bottom: $search-form--padding;
	text-align: left;
	min-width: $search-form__field--min-width + 50px;
	background-color: #fff;
	border-radius: 0.5rem;

	.search-form__tabs {
		margin-bottom: 1em;
		position: absolute;
		top: -2.5em;
		left: 50%;
		margin-left: -$search-form__field--min-width;
	}

	.search-form__container {
		height: fit-content;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: left;

	legend {
		width: fit-content;
		background-color: #fff;
		color: #000;
		padding: 3px 6px;
		font-size: 1em;
		font-weight: 500;
	}

	input, .select__container {
		margin-bottom: 1rem;
		border-radius: 0.5em;
	}

	fieldset {
		flex: 1;
		margin-right: 1rem;
		padding: 0 10px 10px 10px;
		border-top: 1px solid #00000020;
		margin-bottom: 2rem;
		min-width: $search-form__field--min-width + 10px;

		input {
			width: 100%;
			max-width: 500px;
		}
	}

		.search-form__field {
			display: grid;
			height: $search-form__field--height;
			width: $search-form__field--min-width;

			label {
				height: 0px;
			}

			input {
				min-width: 200px;
			}
		}
	}

	.checkbox__container {
		width: 300px;
		height: 30px;
		margin-bottom: 20px;
	}

	.btn__container {
		text-align: right;

		button {
			width: $search-form__btn--width;

			&:nth-of-type(1) {
				width: 7em;
			}
		}
	}

	&.narrow {
		width: $search-form--mobile-width !important;

		.search-form__container .search-form__field {
			min-width: 100% !important;

			input, .select__container {
				margin-right: 0px !important;
			}
		}

		.btn__container {
			button {
				height: $search-form__btn--mobile-height;
				min-width: $search-form__btn--mobile-width;
			}

			button:nth-of-type(2) {
				margin-left: 47px !important;
				content: "" !important;

				span {
					display: none;
				}

				&:after {
					content: "Clear";
				}
			}
		}
	}

	@media all and (min-width: 100px) and (max-width: 760px) {
		width: $search-form--mobile-width !important;

		.search-form__container .search-form__field {
			min-width: 100% !important;

			input, .select__container {
				margin-right: 0px !important;
			}
		}

		.btn__container {
			button {
				height: $search-form__btn--mobile-height;
				min-width: $search-form__btn--mobile-width;
			}

			button:nth-of-type(2) {
				margin-left: 47px !important;
				content: "" !important;

				span {
					display: none;
				}

				&:after {
					content: "Clear";
				}
			}
		}
	}

	.input__container--checkbox {
		margin-bottom: 20px;
	}
}