@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.sidebar-container {
  position: absolute;
  background-color: white;
  height: 1000px;
  width: 500px;
  z-index: 100;
  top: $navbar--height !important;
  &.sidebar-right {
    right: 0;
  }
  &.sidebar-left {
    left: 0;
  }
  #something {
    margin-top: $navbar--height !important;
    height: 100%;
    width: 100%;
  }
  /* Top spacing must be equal to navbar--height to prevent over-lapping */
	/*top: $navbar--height;

  height: $right-side-bar--height;
  width: $right-side-bar--width; */
	/* background-color: $right-side-bar--color;*/
	/* Offset the right-side-bar by it's width, this will move the right-side-bar out of the viewport
    and allow for animation back into the viewport */
	/* left: -$right-side-bar--width; */
}
.right-side-bar.hidden {
  animation: slide-out 0.2s backwards;
	-webkit-animation: slide-out 0.2s backwards;
}
.right-side-bar.visible {
  animation: slide-in 0.2s backwards;
	-webkit-animation: slide-in 0.2s backwards;
}