@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.sidebar {
	&, & * {
		transition: all 0.3s cubic-bezier(0, 0.55, 0.45, 1);
		user-select: none;
	}
  position: fixed;
	z-index: 50;
  height: $sidebar--height;
  width: $sidebar--width;
	background-color: #e87511;
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	box-shadow: inset -2px 0px 15px 0px #00000050;
	flex-direction: column;
	color: #ffffff;

  ul {
    margin: 2em $sidebar__list--margin-left;
    list-style-type: none;
    text-align: left;
		width: 100%;

    li {
      height: $sidebar__item--height;
      max-width: $sidebar__item--width;
      margin-bottom: $sidebar__item--margin-bottom;
			padding-top: 0.45em;
			padding-left: 0.575em;
      font-size: 0.9em;
      font-weight: 500;
			cursor: pointer;
			border-radius: 0.25rem;
			line-height: 1.5rem;
			transition: all 0.1s ease-in;
			position: relative;
			overflow: hidden;

			span:nth-of-type(2) {
				opacity: 1;
				margin-left: 2em;
			}

			svg {
				transition: color 0s;
				color: #ffffff;
			}

			span {
				position: absolute;
				margin: auto;
			}

			&.active {
				box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.4);
			}

			&.active, &:hover {
				background-color: #ffffff;

				&, * {
					color: #e87511;
				}
			}

			&.last-el.bottom {
				padding-top: 0.45em;
				padding-left: 0.5em;
				color: #e87511;
				transition: all 0.25s;
				background-color: #fff;
				// box-shadow: 0px 0px 10px 0px #000000;
				box-shadow: inset 0px 0px 2px 0px #000000;

				&:hover {
					transition: all 0.25s;
					box-shadow: none;
					// background-color: #e87511;
					// box-sizing: border-box;
					// border: 0.01em #ffffff solid;
					// &, * { color: white; }
				}

				span:nth-of-type(2) {
					margin-left: 3em;
				}

				svg {
					color: #e87511;
				}
			}
		}
  }
}
.sidebar.hidden {
	width: 3.5em;
	padding: 2em 0.2em 0 0.2em;

	ul {
		width: 100%;
		padding: 0 0.4em;
		margin: 2em 0;

		li {
			padding-top: 0.45em;
			padding-left: 0.7em;
			max-width: 100%;

			&.active, &:hover {
				transition: all 0.1s ease-in;
				background-color: #ffffff;

				* {
					color: #e87511;
				}
			}
		}
	}
}