@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.sidebar {
  position: fixed;
  /* Top spacing must be equal to navbar--height to prevent over-lapping */
	top: $navbar--height;
	z-index: 100;
  height: $sidebar--height;
  width: $sidebar--width;
	background-color: $sidebar--color;
	/* Offset the sidebar by it's width, this will move the sidebar out of the viewport
    and allow for animation back into the viewport */
	left: -$sidebar--width;

  ul {
    margin: $sidebar__list--margin-top $sidebar__list--margin-left;
    list-style-type: none;
    text-align: left;

    li {
      height: $sidebar__item--height;
      width: $sidebar__item--width;
      margin-bottom: $sidebar__item--margin-bottom;
      padding-top: $sidebar__item--height * 0.25;
      padding-left: 20px;
      /* Top padding to push the text down in proportion to the height of the element */
      font-size: 0.9em;
      font-weight: 700;
      cursor: pointer;
    }
    li.active {
      background-color: #e87511;
      color: #ffffff;
    }
  }
}
.sidebar.hidden {
  animation: slide-out 0.2s forwards;
	-webkit-animation: slide-out 0.2s forwards;
}
.sidebar.visible {
  animation: slide-in 0.2s forwards;
	-webkit-animation: slide-in 0.2s forwards;
}