@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.table {
	display: block;
	box-sizing: border-box;
	font-size: $table__cell--font-size;
	color: $table__cell--font-color;
	padding: $table__cell--padding;
	background-color: white;
	border: none;
	position: relative;
	background-color: #fff;

	&.show-border {
		border-top: 1px solid $table--border-color;
	}
}

.table__row {
	box-sizing: border-box;
	border-bottom: 0.01em solid #00000020;
	background-color: transparent;
	position: relative;

	&.is-striped {
		background-color: $table--striped-color;
	}
	&.show-border {
		border-right: $table--border-right-width solid $table--border-color;
	}
	&.is-header {
		overflow: hidden;
	}


	.accordion-controls, .accordion-icon, .accordion-indent{
		display: none;
		padding-right: 5px;
	}

	.accordion__icon {
		cursor: pointer;

		span {
			color: #e87511 !important;
		}
	}

	div:first-child{
		.accordion-controls, .accordion-icon, .accordion-indent{
			display: block;
		}

		.accordion-indent{
			width:30px;
			display: inline-block;
		}
	}

}

.table__row.is-header,
.table__cell.is-header {
	font-weight: 500 !important;
}

.table__select, .table__select--link {
	box-sizing: border-box;
	height: 40px;
	padding: 0 8px;
	overflow: hidden;
	-webkit-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	border: none;
	min-width: 80px;
	position: absolute;
	right: 20px;
	color: white;

	.table__select > button {
		width: 100%;
		height: 30px;
		box-sizing: border-box;
		border: $checkbox--border-width solid $checkbox--border-color;
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
		line-height: 15px;

		&.btn.--primary.flex-c-c.is-selected {
			background-color: white !important;
			color: $blue;
		}
	}
}
.table__select--link {
	& > button {
		margin-right: 80px;
		color:#e87511;
		background-color: transparent;
		box-shadow: 0px 0px 0px transparent;
		border: 0px solid transparent;
		text-shadow: 0px 0px 0px transparent;
	}
}

.table__select--all:hover,
.table__select--row:hover {
	border-color: $blue;
}
.table__select--all.is-checked,
.table__select--row.is-checked {
	border-color: $blue;
	background-color: $blue;

	i {
		color: #ffffff;
	}
}


.table__check {
	box-sizing: border-box;
	height: 100%;
	padding: 0 8px;
	overflow: hidden;
	-webkit-flex: 0 0 50px;
	-ms-flex: 0 0 50px;
	flex: 0 0 50px;
	border: none;
}
.table__check--all,
.table__check--row {
	box-sizing: border-box;
	height: $checkbox--dimensions;
	width: $checkbox--dimensions;
	border: $checkbox--border-width solid $checkbox--border-color;
	border-radius: $checkbox--border-radius;
	cursor: pointer;
	overflow: hidden;
}
.table__check--all:hover,
.table__check--row:hover {
	border-color: $blue;
}
.table__check--all.is-checked,
.table__check--row.is-checked {
	border-color: $blue;
	background-color: $blue;

	i {
		color: #ffffff;
	}
}

.expand-arrow {
	height: 30px;
	width: 20px;
	z-index: 100;
	position: absolute;
	left: 3.75em;
	display: flex;
	cursor: pointer;
	top: 2.3em;

	span {
		height: 1em;
		width: 1em;
		opacity: 75%;
		margin-left: auto;
		margin-right: 1.5em;

		&:hover > i{
			transition: all 0.1s linear;
			color: #e8751199;
		}

		i {
			transition: all 0.1s linear;
			font-size: 14pt;
			font-weight: 400;
			color: #e87511;

		}
	}
}

.table__cell {
	box-sizing: border-box;
	height: 100%;
	padding: 0 8px;
	overflow: hidden;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	border: none;

	&.--multi-cell {
		height: 75px default; max-width: 200px;
		overflow-y: scroll default;
		display: block;
		padding-right: 0;
		margin-top: 5px;
	}
}

.table__check.show-border,
.table__cell.show-border {
	border-left: $table--border-left-width solid $table--border-color;
}

.table__cell-content {
	min-width: $table__cell-content--min-width;
	min-height: $table__cell-content--min-height;
	text-align: $table__cell-content--text-align;
	box-sizing: border-box;
	position: relative;
	outline: 0;

	&.fill-width {
		width: 100%;
	}

	&.--multi-cell {
		min-height: 40px; min-width: 100%;
		padding-left: 20px;
		display: flex;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			// margin-bottom: -9px;
			// margin-left: 10px;
			background-color: #00000020;
			width: 50px;
			height: 0.01em;
		}

		p {
			margin: auto;
			margin-left: 0;
			max-width: 90%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

.table__tools {
	padding: 8px 0px;

	h4 {
		padding-top: 5px;
		text-align: left;
		margin-right: auto;
	}

	.faceted-search__toggle {
		cursor: pointer;
		align-self: flex-end;
		margin-left: 20px;
		margin-right: 5px;
		margin-bottom: 2px;

		&:hover {
			i {
				transition: all 0.1s linear;
				color: $gray-light;
			}
		}

		i {
			transition: all 0.1s linear;
			font-size: 21pt;
			color: #e87511;
		}
	}

	.table__tools--search {
		align-self: flex-end;
		margin-left: auto;
		margin-right: 0;
	}
}

.table__tools--faceted-search {
	background-color: #EAF1F7;
	margin-left: 10px;
	margin-right: 10px;
	height: 70px;
	padding-top: 20px;
	padding-left: 20px;
	border-radius: 0.5rem;

	.faceted-search--container {
		align-self: flex-start;
		display: flex;
		width: 100%;
		height: 30px;

		.faceted-search__controls {
			display: flex;
			height: 30px;
			min-width: fit-content;
			width: 300px;
			margin-right: 0;
		}

		.faceted-search__filters-container {
			display: flex;
			height: 30px;
			width: fit-content;
			margin-top: 3px;
			margin-left: 15px;

			h6 {
				max-width: fit-content;
				margin-top: 2px;
				display: none;
				font-weight: bold;
			}

			.faceted-search__filters {
				width: fit-content;
				max-width: 964px;
				margin: auto;
				margin-left: 20px;
				height: 40px;
				white-space: nowrap;
				position: relative;
				overflow-x: scroll;
				overflow-y: hidden;
				-webkit-overflow-scrolling: touch;

				.faceted-search__filter {
					margin-right: 20px;
					cursor: pointer;

					i {
						font-size: 10pt;
						color: #c0c4cc;
						margin-right: 7px;
					}
				}
			}
		}

		i {
			font-size: 17pt;
			margin-top: 3px;
			margin-right: 20px;
		}

		button {
			width: 70px;
			margin-left: 20px;
		}
	}
}

.table-sort {
	width: 20px;
	margin-left: 2px;
	position: relative;
	vertical-align: middle;

	.sort--btns {
		width: 0;
		height: 0;
		border: 5px solid transparent;
		position: absolute;
		left: 5px;
		cursor: pointer;
	}
	.sort--ascending {
		border-bottom-color: #d7d8da;
		bottom: 2px;
	}
	.sort--descending {
		border-top-color: #d7d8da;
		top: 2px;
	}
	.sort--ascending.activated {
		border-bottom-color: #e87511;
	}
	.sort--descending.activated {
		border-top-color: #e87511;
	}
}

.table__action {
	padding: 0 8px;

	&--header, &--cell {
		width: $table__action--width;
	}
	&--header {
		font-size: 14px;
	}
	&--cell {
		font-size: 2rem;
	}

	button {
		background-color: transparent;
		border: none;
		padding-bottom: 20px;
	}
}

.actions__container {
	position: absolute;
	min-height: fit-content;
	width: 130px;
	background-color: black;
	z-index: 100;
	right: -5px;
	display: grid;

	& > .actions__action {
		height: 50px;
		display: flex;
		background-color: white;;
		min-width: 100% !important;
		position: relative;
		cursor: pointer;

		p {
			margin: auto;
		}

		&:hover {
			-webkit-box-shadow: inset 0 1px 20px rgba(0, 0, 0, .06);
			box-shadow: inset 0 1px 20px rgba(0, 0, 0, .06);
		}
	}
}